{
  "singleQuote": false,
  "printWidth": 120,
  "proseWrap": "always",
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "jsxSingleQuote": false,
  "bracketSpacing": true
}
